.display-wrapper {
    height: 50px;
    width: 250px;
    background-color: orchid;
    border-radius: 80px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#display {
    position: relative;
    bottom: 14px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}