.drum-pad {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 20px;
    outline: none;
}

.pad-wrapper {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.drum-pad:active {
    background-color: aquamarine;
    border-style: inset;
}

.drum-pad-active {
    background-color: aquamarine;
    border-style: inset;
}

.drum-pad-text:active {
    padding-left: 2px;
    padding-top: 38px;
}

.drum-pad-text-active {
    padding-left: 2px;
    margin-top: 23px;
}

.drum-pad-text { 
    position: relative;
    bottom: 21px;
    height: 60px;
    width: 97px;
    right: 6px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 35px;
    user-select: none;
}