.toggle-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    height: 25px;
    width: 50px;
    background-color:rgba(1, 203, 254, 0.589);
    align-items: center;
}

.left-aligned {
    justify-content: flex-start;
}

.right-aligned {
    justify-content: flex-end;
}

.title {
    text-align: center;
    margin-bottom: -3px;
    user-select: none;
    color: rgb(255, 251, 150);
}

.wrapper {
    width: 50px;
}

